.products-hero { 
  background: url('../../images/root/hero.jpg') center/cover;
  text-align: center;
  color: #fff;
}

.product-list { 
  margin: auto; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.product-card {  
  border-radius: 12px; 
  transition: 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-6px); 
}
