[data-animate] {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.in-view {
  opacity: 1;
  transform: none;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease;
}

.fade-up.aos-animate {
  opacity: 1;
  transform: translateY(0);
}
