.btn {
  display: inline-block; 
  background: #007b46;
  color: #fff;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #005d34;
}

.card {
  background: #fff; 
  border-radius: 12px; 
}
