/* HEADER WRAPPER */
header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 150px;        /* cố định header */
    overflow: visible;    /* tránh ép flex items, tránh bóp méo logo */
}

/* FLEX INNER */
header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;        /* PHẢI = header */
    box-sizing: border-box;
}

/* LOGO */
header .logo {
   max-width: none !important;
    width: auto !important;
    height: 100px !important;
}

/* NAVIGATION */
header .nav {
    flex-shrink: 1;       /* menu có thể co, không ép logo */
}

header .nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
    white-space: nowrap;  /* không xuống dòng */
}

header .nav li a {
    color: #222;
    font-weight: 500;
    transition: 0.3s;
}

header .nav li a:hover {
    color: #007b46;
}

header .nav li.phone a {
    font-weight: bold;
    color: #007b46;
}


footer {
    background: #222;
    color: #fff; 
    text-align: center;
    margin-top: 60px;
}

/* Footer logo */
footer .logo-sm {
    height: 250px;
    /* chiều cao cố định */
    width: auto;
    /* giữ tỉ lệ */
    margin-bottom: 12px;
}

/* FOOTER */
footer .footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
}

footer .footer-col {
    flex: 1;
    min-width: 200px;
}